.wheelContainer {
  position: relative; top: 0; left: 0;
}

.wheel1 {
  position: absolute; top: 0; left: 0;
}

.wheel1 img {
  width: 100%;
  height: 100%;
}

.wheel2 {
  position: absolute; top: 102px; left: 102px;
}

.wheel2 img {
  transform: rotate(90deg);
  width: 66%;
  height: 66%;
}

.wheel3 {
  position: absolute; top: 200px; left: 200px;
}

.wheel3 img {
  transform: rotate(180deg);
  width: 33%;
  height: 33%;
}


.spin {
  animation: spin 5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}
.spin2 {
  animation: spin2 7s;
}

@keyframes spin2 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-7110deg);
  }
}
.spin3 {
  animation: spin3 9s;
}

@keyframes spin3 {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(10980deg);
  }
}